@charset "UTF-8";

@import "./variables";

$header-ht: 3.25rem;
$aside-wt: 246px;

body {
	line-height: $base-line-height;
	overflow: hidden;
	color: $color-text;
	font-size: $base-font-md;
	background: $bg-body;
}

a {color: $color-info;}

// 头部
#header {
	position: relative;
	display: flex;
	align-items: center;
	height: $header-ht;
	background: $bg-header;

	.icon-button {
		border-width: ($header-ht - $icon-button-font * $base-line-height) / 2;
	}

	// 侧边栏显示切换按钮
	.btn-menu {margin-left: $base-spacing / 2;}

	.btn-close {
		display: none;
		color: #fff;
	}
}

.app-title {
  display: flex;
  align-items: center;

  width: $aside-wt;
  height: 100%;
  overflow: hidden;

  font-size: 1.5rem;
  color: #fff;
  background: $bg-aside;
  transition: all .2s;

  > span {
    flex: 1;
    max-width: calc(100% - 42px);  // 42px 是按钮宽度
    padding-left: $base-spacing;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

#main {
	display: flex;
	height: calc(100vh - #{$header-ht});
}

// 侧边栏
.aside {
	width: $aside-wt;
  height: 100%;
  overflow: hidden;
	background: $bg-aside;
	transition: all .2s;
}

.list {
  height: calc(100% - 58px);  // 58px 是 form 高度
  padding: 0 $base-spacing / 2;
  overflow: auto;
  list-style: none;

  a {
    display: block;
    height: 32px;
    margin-bottom: 5px;
    line-height: 32px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: .95rem;
    color: darken(#fff, 30);

    &:hover,
    &.is-active {
      color: $color-primary;
    }

    &.is-active {
      padding-left: calc(1em + 5px);
      background: url("./icon/marker.png") left center no-repeat;
      background-size: 1em auto;
      box-shadow: 0 1px 0;
    }
  }
}

.map-container {
	position: relative;
	flex: 1;
	height: 100%;
}

.map-info-window {
  > h4 {
    margin-bottom: 5px;
    font-size: 1.1rem;
  }
}

// mini 模式
.is-aside-mini {
	.app-title,
	.aside {
		width: 0;
		padding: 0;
	}
}

@media (max-width: 480px) {
	body {font-size: $base-font-sm;}

  .app-title,
	.aside {
		position: absolute;
		z-index: $zIndex-aside-fixed;
		width: $aside-wt !important;
	}

	#header .btn-close {display: block;}

	// mini 模式
	.is-aside-mini {
		.app-title,
		.aside {
			transform: translateX(-100%);
		}
	}
}

@import "./form";

// 辅助类
.text-primary {color: $color-primary;}
.text-info {color: $color-info;}
.text-success {color: $color-success;}
.text-warning {color: $color-warning;}
.text-danger {color: $color-danger;}
.text-muted {color: $color-muted;}
