.tip-msg {
	padding: $base-spacing / 2 $base-spacing;
	line-height: 1;
	white-space: nowrap;

	&::before {
		content: "";
		display: inline-block;
		width: 1em;
		height: 1em;
		margin-right: .5em;
		vertical-align: -0.15em;
		background: url(about:blank) center no-repeat;
		background-size: contain;
	}

	&.is-loading {
		color: $color-muted;

		&::before {
			background-image: url("./icon/loading.svg");
		}
	}

	&.is-warning {
		color: $color-warning;
		
		&::before {
			background-image: url("./icon/warning.svg");
		}
	}
}